footer
  div
    span Józef Podlecki &copy #{currentYear}
    div.social
      a(href="https://github.com/Jozefpodlecki")
        span.icon.fab.fa-github
      a(href="https://www.linkedin.com/in/jozef-witold-podlecki")
        span.icon.fab.fa-linkedin-in
      a(href="https://jozefpodlecki.github.io")
        span.icon.fa.fa-globe